body {margin: 0; font-family: Segoe UI, sans-serif; font-size: 20px; color: #666;}
.container {display: flex; align-items: center; justify-content: center; min-height: 100vh;}
.box {display: flex; flex-direction: column; align-items: center;}
.logo {margin-top: -40px;}
.title {font-size: 40px; margin-bottom: 100px;}